body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1e0038;
    color: #fff;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #290049;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
}

.site-name {
    margin-bottom: -5px;
    font-size: 24px;
    margin-left: 10px;
    font-weight: bold;
    color: #fffefe;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    position: relative;
    display: flex;
    align-items: center;
}

nav ul li a img {
    margin-right: 8px;
    height: 20px;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #ff4dff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.projects-intro {
    text-align: center;
    padding: 50px 20px;
    background-color: #290049;
    color: #ff4dff;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.project-card {
    background-color: #3d0059;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

.project-card img {
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease;
}

.project-card .info-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
}

.project-card .project-description {
    display: none;
    color: #fff;
    margin-top: 20px;
}

.project-card:hover {
    transform: translateY(-10px);
    background-color: #290049;
}

.project-card:hover img {
    transform: scale(1.1);
}

.project-card:hover .info-icon {
    transform: scale(1.2);
}

.project-card:hover .project-description {
    display: block;
}

.project-card h3 {
    margin: 20px 0 10px 0;
    color: #ff4dff;
}